<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="estado.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div align="right">
	<b>Guayaquil, </b>
</div>
<div align="center">
	<h1>CERTIFICADO DE APROVECHAMIENTO Y<br>DISCIPLINA</h1>
</div>

<div align="center">

	<p>Por medio de la Presente la Secretaría de la Escuela No. 302 <b>LINDO<br>AMANECER</b>, certifica que previo a los requisitos legales y reglamentos el(a) estudiante:<br></p>
	<p><b>X</b><br><br>
	Se Matriculó en los siguientes años lectivos obteniendo las siguientes calificaciones:</p>
	<table border="1" style="text-align: center">
	   <tr>
	     	<td width="100px">PERIODO<br>LECTIVO</td>
	     	<td>AÑO BÁSICO</td>
	     	<td>PROMEDIO FINAL<br>APROVECHAMIENTO</td>
	     	<td>DISCIPLINA</td>
	   </tr>
	   <tr>
	   		<td><b>X</b></td>
	   		<td><b>X</b></td>
	   		<td><b>X</b></td>
	   		<td><b>X</b></td>
	   </tr>
	</table>
	<br><br><br>

	<p align="left">Es todo cuanto puedo certificar en honor a la verdad.	<br>
	Atte.<br><br>
	________________________<br><br><br>Tnlg. Viviana Peralta<br>Secretaria General</p>
</div>
</body>
</html>