*{
	font-family: sans-serif;
	margin-left: 30px;
	margin-right: 30px;
}

table{
	border-collapse: collapse;
}
#datos>thead>tr>td{
	text-align: center;
	border-collapse: collapse;
	border: 1px solid black;
}