<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="estado.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div align="left">
	<b>Guayaquil, </b>
</div>
<div align="center">
	<h1>CERTIFICADO LABORAL</h1>
</div>

<div align="center">

	<p>Yo, Msc. <b>Wilson Muñoz Fortún</b> con <b>C.I 170925662</b> en calidad de director de esta<br>
	Institución Educativa certifico a <b>X</b> con <b>C.I X</b><br>ha laborado en el areá de <b>X</b><br>realizando su respectivo trabajo, durante el periodo comprendido desde <b>X</b>, demostrando en su<br>permanencia responsabilidad, honestidad y dedicación en las labores que le fueron <br>encomendadas.</p>
	
	<br><br><br><br>
	Atte.<br><br>
	________________________<br><br><br>C.I 170925662<br><b>Msc. Wilsonn Muñoz Fortún</b></p>
</div>
</body>
</html>